nvim/.config/nvim/plugged/
nvim/.config/nvim/spell/
nvim/.config/nvim/sessions
nvim/.config/nvim/.netrwhist
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
!mpd/.config/mpd/playlilsts/
**/ranger/bookmarks
**/ranger/history
tarsnap/.config/tarsnap/*.key
anacron/.config/anacron/spool/
mutt/.mutt/temp/
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.local/share
qutebrowser/.local/lib
mutt/.mutt/cache
nnn/.config/nnn/plugins/other
nnn/.config/nnn/.selection
