nvim/.config/nvim/*
!nvim/.config/nvim/init.vim
!nvim/.config/nvim/UltiSnips
!nvim/.config/nvim/spell/*.add
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
!mpd/.config/mpd/playlilsts/
**/ranger/bookmarks
**/ranger/history
tarsnap/.config/tarsnap/*.key
anacron/.config/anacron/spool/
mutt/.mutt/temp/
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.local/share
qutebrowser/.local/lib
mutt/.mutt/cache
nnn/.config/nnn/plugins/other
nnn/.config/nnn/.selection
*.log

# credentials
mpd/.config/mpdasrc
