[Unit]
Description=Protonmail Bridge
After=network.target

[Service]
Type=simple
ExecStart=protonmail-bridge --no-window --noninteractive
Restart=always

[Install]
WantedBy=multi-user.target
