/*
*
* Base16 Tokyonight
* Author: Folke Lemaitre (https://github.com/folke)
*
*/

@define-color base00 #24283b;
@define-color base01 #1f2335;
@define-color base02 #292e42;
@define-color base03 #565f89;
@define-color base04 #a9b1d6;
@define-color base05 #c0caf5;
@define-color base06 #c0caf5;
@define-color base07 #c0caf5;
@define-color base08 #f7768e;
@define-color base09 #ff9e64;
@define-color base0A #e0af68;
@define-color base0B #9ece6a;
@define-color base0C #1abc9c;
@define-color base0D #41a6b5;
@define-color base0E #bb9af7;
@define-color base0F #ff007c;