/* Start flavours */
/*
*
* Base16 Tokyonight
* Author: Folke Lemaitre (https://github.com/folke)
*
*/

@define-color base00 #24283b;
@define-color base01 #1f2335;
@define-color base02 #292e42;
@define-color base03 #565f89;
@define-color base04 #a9b1d6;
@define-color base05 #c0caf5;
@define-color base06 #c0caf5;
@define-color base07 #c0caf5;
@define-color base08 #f7768e;
@define-color base09 #ff9e64;
@define-color base0A #e0af68;
@define-color base0B #9ece6a;
@define-color base0C #1abc9c;
@define-color base0D #41a6b5;
@define-color base0E #bb9af7;
@define-color base0F #ff007c;
/* End flavours */

@define-color color_bg @base00;
@define-color color_bf @base06;

/* 
vim:ft=css
*/
* {
    border: none;
    border-radius: 0 0 5px 5px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Terminess Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @color_bg;
    color: @color_fg;
    border-bottom: 3px solid @base01;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.fullscreen {
    background-color: @base08;
}

window#waybar.solo {
    background-color: @base08;
}

window#waybar.floating {
    background-color: @base08;
}

/*
window#waybar.empty {
}
window#waybar.solo {
}
*/

window#waybar.termite {
}

window#waybar.chromium {
    border: none;
}

#workspaces button {
    padding: 0 10px;
    color: @light4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    box-shadow: inset 0 1px @base0E;
    color: @base0E;
}

#workspaces button.urgent {
}

#mode {
    border-bottom: 3px solid @base07;
}

#clock,
#custom-fuzzyclock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
}

.module {
    padding: 0 4px;
    margin: 0 4px;
    /* border: 1px solid white; */
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-right {
    margin-right: 1em;
}
.modules-left {
    margin-left: 1em;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    color: #fe8019;
}

#battery.charging {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-tomat.work, #custom-pomodorosh.work {
    background-color: @base08;
    color: @base00;
    border-radius: 5px;
}

#custom-tomat.work, #custom-pomodorosh.break {
    background-color: @base0B;
    color: @base00;
    border-radius: 5px;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
    color: @base08;
}
#memory {
    color: @color_fg;
}

#memory.medium {
    color: @base09;
}

#memory.high {
    color: @base08;
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

@keyframes cavapalette {
0%{   color: @base08;}
17%{  color: @base0A;}
34%{  color: @base09;}
51%{  color: @base0E;}
68%{  color: @base0D;}
85%{  color: @base0B;}
100%{ color: @base0C;}
}

#cava {
    padding: 0;
    margin: 0;
    color: @base09;
    /* animation-name: cavapalette; */
    /* animation-duration: 5s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
    border: none;
    font-size: 25px;
}

#custom-dunst {
    color: @bright_yellow;
}

#custom-mail {
    color: @base02;
}

#custom-mail:not(hasmail) {

}

#custom-mail.hasmail {
    color: @base0A;
}

#custom-uair.resumed {
  color: #f87171;
}
