snippet %% "new cell" bA
# %% 
endsnippet

snippet %d "new documentation cell" bA
# %% [markdown]
"""
$0
"""
endsnippet

snippet [[ "new cell" bA
# %% 
endsnippet

snippet [md "new documentation cell" bA
# %% [markdown]
"""
$0
"""
endsnippet
